# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3


# Virtualenv
venv/
ENV/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Other
*.bak
*.swp
*.swo
.idea/

# Ignore migrations if needed
# */migrations/

torneos_modified.sql
docker-compose.yml
Dockerfile
media/jugadores/fotos/
media/equipos/logos/