{% extends "admin/base.html" %}
{% load static %}

{% block title %}Panel de Torneos | {{ title }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script defer src="{% static 'admin/js/custom.js' %}"></script>
{% endblock %}

{% block branding %}
  <div style="display:flex;align-items:center;gap:10px;">
  <img src="{% static 'img/logo.png' %}" alt="Logo" style="height:14px;width:auto;filter:drop-shadow(0 0 6px rgba(8,247,254,.25));border-radius:6px; !important">
    <h1 id="site-name" style="margin:0;">
      <a href="{% url 'admin:index' %}">Panel de Torneos</a>
    </h1>
  </div>
{% endblock %}

{% block nav-global %}
  <div>
    <a href="/" class="button">Ir al sitio</a>
  </div>
{% endblock %}
