{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content" class="login">
  <h1 style="text-align:center;margin:0 0 16px 0;">Iniciar sesión</h1>
  {% if form.errors and not form.non_field_errors %}
    <p class="errornote">{% trans 'Por favor corrige los errores debajo.' %}</p>
  {% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="errornote">{{ error }}</p>
    {% endfor %}
  {% endif %}

  <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    <div class="form-row">
      {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-row">
      {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}">
    </div>
    <div class="submit-row">
      <input type="submit" value="{% trans 'Acceder' %}">
    </div>
  </form>
</div>
{% endblock %}
